body.exercises {
    font-family:sans-serif;
    font-size:1.25em;
}

footer {
    height:200px; 
}

/* Flexbox */
div.container {
    display:flex;
    flex-wrap:wrap;
}

div.blue-box {
    background-color: lightskyblue;
    padding: 0px 30px 0px 10px;
}

div.green-box {
    background-color: lightgreen;
    padding: 0px 30px 0px 10px;
}

div.orange-box {
    background-color: lightsalmon;
    padding: 0px 30px 0px 10px;
}

.box-title {
    text-decoration:underline;
    text-align:center;
}

.exercise-log {
    background-color:lightgoldenrodyellow;
    width:100%;
    padding:5px 0px 5px 0px; 
    border: 1px solid black; 
}
.exercise-log h4 {
    /* padding-top:5px; */
    /* padding-bottom:5px; */
    /* text-decoration:underline; */
}
